.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #e7e7e7;
  border-bottom: 4px double #000;
}
.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: #f7f7f7;
  border-radius: 4px;
  transition: background 0.6s ease;
}

.news-image-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  border-bottom: 2px solid #e7e7e7;
}
